Repository maryanchuk04/stud-city, pull requests merged in 2023-04, with the labels that each got.

#131 129 automated tests
  StudCity.Backend/StudCity.Backend.sln
  StudCity.Backend/StudCity.Tests.BDD/Drivers/Driver.cs
  StudCity.Backend/StudCity.Tests.BDD/Features/AuthenticateTests.feature
  StudCity.Backend/StudCity.Tests.BDD/Features/AuthenticateTests.feature.cs
  StudCity.Backend/StudCity.Tests.BDD/Hooks/Hook.cs
  StudCity.Backend/StudCity.Tests.BDD/Steps/AuthenticateSteps.cs
  StudCity.Backend/StudCity.Tests.BDD/StudCity.Tests.BDD.csproj
  StudCity.Backend/StudCity.Tests/Pages/LoginPage.cs
  StudCity.Backend/StudCity.Tests/Pages/RegistrationPage.cs
  StudCity.Backend/StudCity.Tests/PagesTests/AuthenticatePageTests.cs
  StudCity.Backend/StudCity.Tests/PagesTests/RegistrationPageTests.cs
Labels: backend, task

#134 127 chat functionality
  StudCity.Backend/StudCity.API/Hubs/ChatHub.cs
  StudCity.Backend/StudCity.API/Hubs/ConnectionMapping.cs
  StudCity.Backend/StudCity.API/Hubs/RoomConnections.cs
  StudCity.Backend/StudCity.API/Mapping/MessageMapperProfile.cs
  StudCity.Backend/StudCity.Application/Services/MessageService.cs
  StudCity.Backend/StudCity.Application/Services/RoomService.cs
  StudCity.Backend/StudCity.Core/DTOs/MessageDto.cs
  StudCity.Backend/StudCity.Core/DTOs/MessagePreviewDto.cs
  StudCity.Backend/StudCity.Core/Entities/Message.cs
  StudCity.Backend/StudCity.Core/Interfaces/IMessageService.cs
  StudCity.Backend/StudCity.Core/Interfaces/IRoomService.cs
  StudCity.Frontend/src/UI/Button.jsx
  StudCity.Frontend/src/UI/CustomDialog/index.jsx
  StudCity.Frontend/src/UI/IconButton.jsx
  StudCity.Frontend/src/UI/fields/SearchField.jsx
  StudCity.Frontend/src/app/features/chatsSlice.js
  StudCity.Frontend/src/app/features/navbarSlice.js
  StudCity.Frontend/src/components/ChatModal/AddUserToChat.jsx
  StudCity.Frontend/src/components/ChatModal/Information.jsx
  StudCity.Frontend/src/components/ChatModal/Members.jsx
  StudCity.Frontend/src/components/ChatModal/RenderContent.jsx
  StudCity.Frontend/src/components/ChatModal/index.jsx
  StudCity.Frontend/src/components/HeaderChat/index.jsx
  StudCity.Frontend/src/components/Message/index.jsx
  StudCity.Frontend/src/components/Sender/index.jsx
  StudCity.Frontend/src/components/Tabs/Tab.jsx
  StudCity.Frontend/src/components/Tabs/index.jsx
  StudCity.Frontend/src/components/UserMessages/index.jsx
  StudCity.Frontend/src/components/UserPreview/index.jsx
  StudCity.Frontend/src/pages/Chat/index.jsx
  StudCity.Frontend/src/services/hubService.js
  StudCity.Frontend/src/utils/dates.js
Labels: frontend, backend, task

#135 133 notification message alert
  StudCity.Frontend/src/app/features/chatsSlice.js
  StudCity.Frontend/src/components/Layout/index.jsx
  StudCity.Frontend/src/components/NotificationContainer/index.jsx
  StudCity.Frontend/src/components/NotificationMessage/index.jsx
Labels: frontend, task

#136 sound when user send message done
  StudCity.Frontend/package-lock.json
  StudCity.Frontend/package.json
  StudCity.Frontend/src/assets/sounds/send-message.mp3
  StudCity.Frontend/src/components/Sender/index.jsx
Labels: frontend, task
