Repository maryanchuk04/stud-city, pull requests merged in 2023-03, with the labels that each got.

#79 Connect recovery & forgot password
  StudCity.Backend/StudCity.API/Controllers/AuthenticateController.cs
  StudCity.Backend/StudCity.API/ViewModels/ErrorResponseModel.cs
  StudCity.Backend/StudCity.Application/Helpers/IBase64Cryptographer.cs
  StudCity.Backend/StudCity.Application/Services/AuthenticateServices.cs
  StudCity.Backend/StudCity.Core/Exceptions/DecodeException.cs
  StudCity.Frontend/src/UI/fields/PasswordTextField.jsx
  StudCity.Frontend/src/pages/ForgotPassword/index.jsx
  StudCity.Frontend/src/pages/RecoveryPassword/index.jsx
  StudCity.Frontend/src/services/authenticateService.js
  StudCity.Frontend/src/utils/apiConstants.js
Labels: frontend, backend, task

#81 Change error handling
  StudCity.Backend/StudCity.API/Controllers/AuthenticateController.cs
  StudCity.Backend/StudCity.API/appsettings.json
Labels: backend, task

#83 Finish work with connecting
  StudCity.Backend/StudCity.Application/Services/AuthenticateServices.cs
  StudCity.Backend/StudCity.Application/Services/TokenService.cs
  StudCity.Frontend/src/components/ProtectedRoute/index.jsx
  StudCity.Frontend/src/components/Stepper/StepperStrip.jsx
  StudCity.Frontend/src/pages/RegistrationComplete/index.jsx
  StudCity.Frontend/src/pages/Verify-email/index.jsx
  StudCity.Frontend/src/pages/index.jsx
  StudCity.Frontend/src/pages/routeProtection.js
  StudCity.Frontend/src/services/authenticateService.js
Labels: frontend, backend, task

#85 Fix problems with verify
  StudCity.Frontend/src/UI/fields/TextField.jsx
  StudCity.Frontend/src/app/features/register-complete/registerCompleteSlice.js
  StudCity.Frontend/src/pages/RegistrationComplete/index.jsx
  StudCity.Frontend/src/pages/RegistrationComplete/steps/UserInformation.jsx
  StudCity.Frontend/src/pages/Verify-email/index.jsx
  StudCity.Frontend/src/utils/validators/validators.js
Labels: bug, frontend

#95 94 loading response effect
  StudCity.Backend/StudCity.API/Controllers/AuthenticateController.cs
  StudCity.Backend/StudCity.API/Program.cs
  StudCity.Backend/StudCity.Application/Services/MailService.cs
  StudCity.Backend/StudCity.Core/Exceptions/DecodeException.cs
  StudCity.Frontend/src/App.js
  StudCity.Frontend/src/app/features/fetch-spinner/fetchSpinnerSlice.js
  StudCity.Frontend/src/app/store.js
  StudCity.Frontend/src/components/FetchSpinner/index.jsx
  StudCity.Frontend/src/components/Layout/index.jsx
  StudCity.Frontend/src/pages/Authenticate/index.jsx
  StudCity.Frontend/src/pages/Registration/index.jsx
Labels: frontend, backend, task

#100 Admin base api
  StudCity.Backend/StudCity.API/Controllers/TeachersStoreController.cs
  StudCity.Backend/StudCity.API/Mapping/TeacherStoreMapperProfile.cs
  StudCity.Backend/StudCity.API/Policies/PolicyNames.cs
  StudCity.Backend/StudCity.API/Policies/RoleHandler.cs
  StudCity.Backend/StudCity.API/Policies/RoleRequirement.cs
  StudCity.Backend/StudCity.API/Program.cs
  StudCity.Backend/StudCity.API/ViewModels/EmailViewModel.cs
  StudCity.Backend/StudCity.Application/Services/AuthenticateServices.cs
  StudCity.Backend/StudCity.Application/Services/TeachersStoreService.cs
  StudCity.Backend/StudCity.Core/DTOs/TeachersStoreDto.cs
  StudCity.Backend/StudCity.Core/Interfaces/ITeachersStoreService.cs
Labels: backend, task

#99 Seeding data functional
  StudCity.Backend/StudCity.API/Program.cs
  StudCity.Backend/StudCity.Db/DbInitialize/DbInitializer.cs
Labels: backend, task

#97 Fixed forgot password template align
  StudCity.Backend/StudCity.API/wwwroot/html/ConfirmationLetter.html
Labels: bug, backend

#105 104 user profile sidebar
  StudCity.Frontend/src/UI/CustomDialog/index.jsx
  StudCity.Frontend/src/pages/Authenticate/index.jsx
  StudCity.Frontend/src/pages/Profile/EditProfile/ProfileDetails/index.jsx
  StudCity.Frontend/src/pages/Profile/EditProfile/ProfileSidebar/SidebarItem.jsx
  StudCity.Frontend/src/pages/Profile/EditProfile/ProfileSidebar/index.jsx
  StudCity.Frontend/src/pages/Profile/EditProfile/index.jsx
  StudCity.Frontend/src/pages/RegistrationComplete/steps/UploadAvatar.jsx
  StudCity.Frontend/src/pages/index.jsx
  StudCity.Frontend/src/utils/constants.js
Labels: frontend, task

#111 View profile
  StudCity.Frontend/src/components/ElementViewProfile/index.jsx
  StudCity.Frontend/src/components/HeaderEditProfile/index.jsx
  StudCity.Frontend/src/components/HeaderViewProfile/index.jsx
  StudCity.Frontend/src/pages/Profile/EditProfile/ProfileDetails/index.jsx
  StudCity.Frontend/src/pages/Profile/EditProfile/index.jsx
  StudCity.Frontend/src/pages/ViewProfile/index.jsx
  StudCity.Frontend/src/pages/index.jsx
Labels: frontend, task

#110 108 connect edit profile
  StudCity.Backend/StudCity.API/Controllers/UserController.cs
  StudCity.Backend/StudCity.API/Extensions/ValidationResultExtension.cs
  StudCity.Backend/StudCity.API/Extensions/WebAppBuilderExtension.cs
  StudCity.Backend/StudCity.API/Mapping/UserMapperProfile.cs
  StudCity.Backend/StudCity.API/Program.cs
  StudCity.Backend/StudCity.API/StudCity.API.csproj
  StudCity.Backend/StudCity.API/Validation/CurrentUserValidator.cs
  StudCity.Backend/StudCity.API/ViewModels/CurrentUserViewModel.cs
  StudCity.Backend/StudCity.API/ViewModels/UserViewModel.cs
  StudCity.Backend/StudCity.Application/Services/UserService.cs
  StudCity.Backend/StudCity.Core/Interfaces/IUserService.cs
  StudCity.Frontend/src/UI/fields/ValidateTextField.jsx
  StudCity.Frontend/src/app/features/user/userSlice.js
  StudCity.Frontend/src/app/store.js
  StudCity.Frontend/src/components/Container/index.jsx
  StudCity.Frontend/src/components/ElementViewProfile/index.jsx
  StudCity.Frontend/src/components/HeaderEditProfile/index.jsx
  StudCity.Frontend/src/components/Layout/index.jsx
  StudCity.Frontend/src/components/Spinner/index.jsx
  StudCity.Frontend/src/pages/Profile/EditProfile/ProfileDetails/index.jsx
  StudCity.Frontend/src/pages/Profile/EditProfile/index.jsx
  StudCity.Frontend/src/pages/Profile/ViewProfile/index.jsx
  StudCity.Frontend/src/pages/ViewProfile/index.jsx
  StudCity.Frontend/src/pages/index.jsx
  StudCity.Frontend/src/services/showAlert.js
  StudCity.Frontend/src/services/userService.js
  StudCity.Frontend/src/utils/constants.js
  StudCity.Frontend/src/utils/validators/editProfileValidators.js
Labels: frontend, backend, task

#113 112 cascade for application
  StudCity.Backend/StudCity.API/Validation/CurrentUserValidator.cs
  StudCity.Frontend/public/index.html
  StudCity.Frontend/public/logo.png
  StudCity.Frontend/src/App.js
  StudCity.Frontend/src/UI/Avatar/index.jsx
  StudCity.Frontend/src/UI/fields/SearchField.jsx
  StudCity.Frontend/src/app/features/fetchSpinnerSlice.js
  StudCity.Frontend/src/app/features/index.js
  StudCity.Frontend/src/app/features/navbarSlice.js
  StudCity.Frontend/src/app/features/registerCompleteSlice.js
  StudCity.Frontend/src/app/features/userSlice.js
  StudCity.Frontend/src/app/store.js
  StudCity.Frontend/src/components/AuthRoute/index.jsx
  StudCity.Frontend/src/components/Container/index.jsx
  StudCity.Frontend/src/components/FetchSpinner/index.jsx
  StudCity.Frontend/src/components/Header/index.jsx
  StudCity.Frontend/src/components/HeaderEditProfile/index.jsx
  StudCity.Frontend/src/components/Layout/index.jsx
  StudCity.Frontend/src/components/Scroller/index.jsx
  StudCity.Frontend/src/components/Sidenav/FullNavbar.jsx
  StudCity.Frontend/src/components/Sidenav/IconNavbar.jsx
  StudCity.Frontend/src/components/Sidenav/MenuItems/ChatSideItem.jsx
  StudCity.Frontend/src/components/Sidenav/MenuItems/GroupsSideItem.jsx
  StudCity.Frontend/src/components/Sidenav/MenuItems/NotificationSideItem.jsx
  StudCity.Frontend/src/components/Sidenav/MenuItems/index.jsx
  StudCity.Frontend/src/components/Sidenav/index.jsx
  StudCity.Frontend/src/components/Switch/index.jsx
  StudCity.Frontend/src/index.css
  StudCity.Frontend/src/pages/Authenticate/index.jsx
  StudCity.Frontend/src/pages/Profile/EditProfile/ProfileDetails/index.jsx
  StudCity.Frontend/src/pages/Profile/EditProfile/index.jsx
  StudCity.Frontend/src/pages/Profile/ViewProfile/index.jsx
  StudCity.Frontend/src/pages/Registration/index.jsx
  StudCity.Frontend/src/pages/RegistrationComplete/index.jsx
  StudCity.Frontend/src/pages/index.jsx
  StudCity.Frontend/src/utils/constants.js
Labels: frontend, backend, task

#114 created Contact us page
  StudCity.Frontend/public/images/contact-us.jpg
  StudCity.Frontend/src/pages/ContactUs/index.jsx
  StudCity.Frontend/src/pages/index.jsx
Labels: frontend, task

#115 93 view profile edition
  StudCity.Frontend/src/components/HeaderViewProfile/index.jsx
  StudCity.Frontend/src/pages/Profile/ViewProfile/index.jsx
  StudCity.Frontend/src/pages/ViewProfile/index.jsx
  StudCity.Frontend/src/pages/index.jsx
Labels: frontend, task

#122 Search user api
  StudCity.Backend/StudCity.API/Controllers/UserController.cs
  StudCity.Backend/StudCity.API/Mapping/UserMapperProfile.cs
  StudCity.Backend/StudCity.API/ViewModels/IndexViewModel.cs
  StudCity.Backend/StudCity.API/ViewModels/PageViewModel.cs
  StudCity.Backend/StudCity.API/ViewModels/UserShortInfo.cs
  StudCity.Backend/StudCity.Application/Services/UserService.cs
  StudCity.Backend/StudCity.Core/DTOs/FilterParameters.cs
  StudCity.Backend/StudCity.Core/DTOs/PaginationModel.cs
  StudCity.Backend/StudCity.Core/Interfaces/IUserService.cs
  StudCity.Frontend/src/components/FetchSpinner/index.jsx
  StudCity.Frontend/src/components/Layout/index.jsx
  StudCity.Frontend/src/pages/Authenticate/index.jsx
  StudCity.Frontend/src/services/authenticateService.js
  StudCity.Frontend/src/services/userService.js
Labels: backend, task

#123 117 chat page
  StudCity.Frontend/src/app/features/userSlice.js
  StudCity.Frontend/src/components/AllChats/index.jsx
  StudCity.Frontend/src/components/DefaultChat/index.jsx
  StudCity.Frontend/src/components/HeaderChat/index.jsx
  StudCity.Frontend/src/components/Layout/index.jsx
  StudCity.Frontend/src/components/Message/index.jsx
  StudCity.Frontend/src/components/Sender/index.jsx
  StudCity.Frontend/src/components/Sidenav/FullNavbar.jsx
  StudCity.Frontend/src/components/Sidenav/IconNavbar.jsx
  StudCity.Frontend/src/components/Sidenav/MenuItems/ChatSideItem.jsx
  StudCity.Frontend/src/components/UserMessages/index.jsx
  StudCity.Frontend/src/index.css
  StudCity.Frontend/src/pages/Chat/index.jsx
  StudCity.Frontend/src/pages/index.jsx
  StudCity.Frontend/src/utils/constants.js
  StudCity.Frontend/tailwind.config.js
Labels: frontend, task

#130 129 automated tests
  StudCity.Backend/StudCity.Backend.sln
  StudCity.Backend/StudCity.Tests/.runsettings
  StudCity.Backend/StudCity.Tests/AuthenticatePageTests.cs
  StudCity.Backend/StudCity.Tests/Configuration/PagesBaseConfiguration.cs
  StudCity.Backend/StudCity.Tests/Pages/LoginPage.cs
  StudCity.Backend/StudCity.Tests/StudCity.Tests.csproj
  StudCity.Backend/StudCity.Tests/Usings.cs
Labels: frontend, backend, task
