Repository maryanchuk04/stud-city, pull requests merged in 2023-02, with the labels that each got.

#24 10 implement database in code
  StudCity.Backend/StudCity.API/Controllers/AuthenticateController.cs
  StudCity.Backend/StudCity.API/Controllers/WeatherForecastController.cs
  StudCity.Backend/StudCity.API/Program.cs
  StudCity.Backend/StudCity.API/StudCity.API.csproj
  StudCity.Backend/StudCity.API/WeatherForecast.cs
  StudCity.Backend/StudCity.API/appsettings.json
  StudCity.Backend/StudCity.Backend.sln
  StudCity.Backend/StudCity.Core/Entities/Account.cs
  StudCity.Backend/StudCity.Core/Entities/AccountRole.cs
  StudCity.Backend/StudCity.Core/Entities/AccountToken.cs
  StudCity.Backend/StudCity.Core/Entities/BaseEntity.cs
  StudCity.Backend/StudCity.Core/Entities/Image.cs
  StudCity.Backend/StudCity.Core/Entities/Role.cs
  StudCity.Backend/StudCity.Core/Entities/Settings.cs
  StudCity.Backend/StudCity.Core/Entities/User.cs
  StudCity.Backend/StudCity.Core/Enums/Gender.cs
  StudCity.Backend/StudCity.Core/Enums/InterfaceLanguage.cs
  StudCity.Backend/StudCity.Core/Enums/Role.cs
  StudCity.Backend/StudCity.Core/Enums/Theme.cs
  StudCity.Backend/StudCity.Core/Enums/TokenType.cs
  StudCity.Backend/StudCity.Core/StudCity.Core.csproj
  StudCity.Backend/StudCity.Db/Configurations/AccountRoleConfiguration.cs
  StudCity.Backend/StudCity.Db/Context/StudCityContext.cs
  StudCity.Backend/StudCity.Db/Migrations/20230208194611_Initial.Designer.cs
  StudCity.Backend/StudCity.Db/Migrations/20230208194611_Initial.cs
  StudCity.Backend/StudCity.Db/Migrations/StudCityContextModelSnapshot.cs
  StudCity.Backend/StudCity.Db/StudCity.Db.csproj
Labels: backend, task

#27 Email confirmation template
  StudCity.Backend/StudCity.API/Templates/ConfirmationLetter.html
Labels: frontend, task

#29 Configure Style Cop for .NET
  StudCity.Backend/.editorconfig
  StudCity.Backend/Custom.ruleset
  StudCity.Backend/Directory.Build.props
  StudCity.Backend/StudCity.API/Controllers/AuthenticateController.cs
  StudCity.Backend/StudCity.API/Program.cs
  StudCity.Backend/StudCity.API/StudCity.API.csproj
  StudCity.Backend/StudCity.API/ViewModels/AuthenticateViewModel.cs
  StudCity.Backend/StudCity.API/ViewModels/ErrorResponseModel.cs
  StudCity.Backend/StudCity.Application/Helpers/PasswordHasherService.cs
  StudCity.Backend/StudCity.Application/Helpers/PinGenerator.cs
  StudCity.Backend/StudCity.Application/Providers/TokenProvider.cs
  StudCity.Backend/StudCity.Application/Services/AuthenticateServices.cs
  StudCity.Backend/StudCity.Application/Services/TokenService.cs
  StudCity.Backend/StudCity.Application/StudCity.Application.csproj
  StudCity.Backend/StudCity.Backend.sln
  StudCity.Backend/StudCity.Core/ConfigurationModels/JwtConfiguration.cs
  StudCity.Backend/StudCity.Core/DTOs/AuthenticateResponseModel.cs
  StudCity.Backend/StudCity.Core/Entities/Account.cs
  StudCity.Backend/StudCity.Core/Entities/AccountRole.cs
  StudCity.Backend/StudCity.Core/Entities/AccountToken.cs
  StudCity.Backend/StudCity.Core/Entities/BaseEntity.cs
  StudCity.Backend/StudCity.Core/Entities/Image.cs
  StudCity.Backend/StudCity.Core/Entities/Role.cs
  StudCity.Backend/StudCity.Core/Entities/Settings.cs
  StudCity.Backend/StudCity.Core/Entities/User.cs
  StudCity.Backend/StudCity.Core/Enums/Gender.cs
  StudCity.Backend/StudCity.Core/Enums/InterfaceLanguage.cs
  StudCity.Backend/StudCity.Core/Enums/Role.cs
  StudCity.Backend/StudCity.Core/Enums/Theme.cs
  StudCity.Backend/StudCity.Core/Enums/TokenType.cs
  StudCity.Backend/StudCity.Core/Exceptions/AuthenticateException.cs
  StudCity.Backend/StudCity.Core/Exceptions/TokenException.cs
  StudCity.Backend/StudCity.Core/Interfaces/IAuthenticateService.cs
  StudCity.Backend/StudCity.Core/Interfaces/IPasswordHasher.cs
  StudCity.Backend/StudCity.Core/Interfaces/IPinGenerator.cs
  StudCity.Backend/StudCity.Core/Interfaces/ITokenService.cs
  StudCity.Backend/StudCity.Core/Interfaces/Providers/ITokenProvider.cs
  StudCity.Backend/StudCity.Core/StudCity.Core.csproj
  StudCity.Backend/StudCity.Db/Configurations/AccountConfiguration.cs
  StudCity.Backend/StudCity.Db/Configurations/AccountRoleConfiguration.cs
  StudCity.Backend/StudCity.Db/Configurations/RoleConfiguration.cs
  StudCity.Backend/StudCity.Db/Context/StudCityContext.cs
  StudCity.Backend/StudCity.Db/Migrations/20230208194611_Initial.cs
  StudCity.Backend/StudCity.Db/Migrations/20230209163002_UpdateDependency.cs
  StudCity.Backend/StudCity.Db/Migrations/StudCityContextModelSnapshot.cs
  StudCity.Backend/StudCity.Db/StudCity.Db.csproj
  StudCity.Backend/stylecop.json
Labels: backend, task

#31 19 mail sender
  StudCity.Backend/.editorconfig
  StudCity.Backend/Custom.ruleset
  StudCity.Backend/Directory.Build.props
  StudCity.Backend/StudCity.API/Controllers/AuthenticateController.cs
  StudCity.Backend/StudCity.API/Program.cs
  StudCity.Backend/StudCity.API/StudCity.API.csproj
  StudCity.Backend/StudCity.API/Templates/ConfirmationLetter.html
  StudCity.Backend/StudCity.API/ViewModels/AuthenticateViewModel.cs
  StudCity.Backend/StudCity.API/ViewModels/ErrorResponseModel.cs
  StudCity.Backend/StudCity.API/appsettings.json
  StudCity.Backend/StudCity.Application/Services/AuthenticateServices.cs
  StudCity.Backend/StudCity.Application/Services/MailService.cs
  StudCity.Backend/StudCity.Application/Services/TokenService.cs
  StudCity.Backend/StudCity.Application/StudCity.Application.csproj
  StudCity.Backend/StudCity.Backend.sln
  StudCity.Backend/StudCity.Core/Entities/Account.cs
  StudCity.Backend/StudCity.Core/Entities/AccountRole.cs
  StudCity.Backend/StudCity.Core/Entities/AccountToken.cs
  StudCity.Backend/StudCity.Core/Interfaces/IMailService.cs
  StudCity.Backend/StudCity.Core/Interfaces/Infrastructure/IMailClient.cs
  StudCity.Backend/StudCity.Core/StudCity.Core.csproj
  StudCity.Backend/StudCity.Db/StudCity.Db.csproj
  StudCity.Backend/StudCity.Infrastructure/Configuration/MailSenderConfiguration.cs
  StudCity.Backend/StudCity.Infrastructure/MailSender/MailClient.cs
  StudCity.Backend/StudCity.Infrastructure/StudCity.Infrastructure.csproj
Labels: backend, task

#32 Create spinner
  StudCity.Frontend/src/Spinner/Spinner.jsx
  StudCity.Frontend/src/features/counter/Counter.js
  StudCity.Frontend/src/features/counter/Counter.module.css
  StudCity.Frontend/src/features/counter/counterAPI.js
  StudCity.Frontend/src/features/counter/counterSlice.js
Labels: frontend, task

#36 Login user service
  StudCity.Backend/StudCity.API/Controllers/AuthenticateController.cs
  StudCity.Backend/StudCity.API/Extensions/CookieExtension.cs
  StudCity.Backend/StudCity.API/Program.cs
  StudCity.Backend/StudCity.API/ViewModels/ErrorResponseModel.cs
  StudCity.Backend/StudCity.Application/Services/AuthenticateServices.cs
  StudCity.Backend/StudCity.Application/Services/TokenService.cs
  StudCity.Backend/StudCity.Core/Interfaces/IAuthenticateService.cs
Labels: backend, task

#37 create new page for registration
  StudCity.Frontend/package-lock.json
  StudCity.Frontend/package.json
  StudCity.Frontend/public/images/Image-Authenticate-Light.jpg
  StudCity.Frontend/public/images/Image-Authenticate-Light.png
  StudCity.Frontend/public/images/Image-Registration-Light.jpg
  StudCity.Frontend/src/App.js
  StudCity.Frontend/src/UI/Button.jsx
  StudCity.Frontend/src/UI/Fields/PasswordTextField.jsx
  StudCity.Frontend/src/UI/Fields/TextField.jsx
  StudCity.Frontend/src/UI/GoogleButton.jsx
  StudCity.Frontend/src/index.js
  StudCity.Frontend/src/pages/authenticate/Authenticate.jsx
  StudCity.Frontend/src/pages/registration/Registration.jsx
  StudCity.Frontend/src/utils/validators/validators.js
  StudCity.Frontend/tailwind.config.js
Labels: frontend, task

#40 39 finish login
  StudCity.Backend/StudCity.Application/Services/AuthenticateServices.cs
  StudCity.Frontend/.env
  StudCity.Frontend/.eslintrc.json
  StudCity.Frontend/package-lock.json
  StudCity.Frontend/package.json
  StudCity.Frontend/src/Spinner/Spinner.jsx
  StudCity.Frontend/src/UI/Fields/PasswordTextField.jsx
  StudCity.Frontend/src/UI/Fields/TextField.jsx
  StudCity.Frontend/src/UI/fields/PasswordTextField.jsx
  StudCity.Frontend/src/UI/fields/TextField.jsx
  StudCity.Frontend/src/pages/authenticate/Authenticate.jsx
  StudCity.Frontend/src/services/authenticateService.js
  StudCity.Frontend/src/services/baseService.js
  StudCity.Frontend/src/services/tokenService.js
Labels: frontend, backend, task

#41 38 finish registration
  StudCity.Backend/StudCity.API/Controllers/AuthenticateController.cs
  StudCity.Backend/StudCity.API/StudCity.API.csproj
  StudCity.Backend/StudCity.API/ViewModels/AuthenticateViewModel.cs
  StudCity.Backend/StudCity.API/appsettings.json
  StudCity.Backend/StudCity.Application/Services/MailService.cs
  StudCity.Frontend/package-lock.json
  StudCity.Frontend/src/UI/Fields/PasswordTextField.jsx
  StudCity.Frontend/src/UI/Fields/TextField.jsx
  StudCity.Frontend/src/UI/fields/PasswordTextField.jsx
  StudCity.Frontend/src/UI/fields/TextField.jsx
  StudCity.Frontend/src/pages/registration/Registration.jsx
  StudCity.Frontend/src/services/authenticateService.js
  StudCity.Frontend/src/utils/validators/validators.js
Labels: frontend, backend, task

#42 welcome page
  StudCity.Frontend/.eslintrc.json
  StudCity.Frontend/package-lock.json
  StudCity.Frontend/src/App.js
  StudCity.Frontend/src/UI/NavItem.jsx
  StudCity.Frontend/src/assets/svgs/index.js
  StudCity.Frontend/src/assets/svgs/undraw_reading_time_re_phf7.svg
  StudCity.Frontend/src/components/Svg/index.jsx
  StudCity.Frontend/src/index.css
  StudCity.Frontend/src/index.js
  StudCity.Frontend/src/pages/Authenticate/index.jsx
  StudCity.Frontend/src/pages/Main/index.jsx
  StudCity.Frontend/src/pages/Registration/index.jsx
  StudCity.Frontend/src/spinner/Spinner.jsx
  StudCity.Frontend/tailwind.config.js
Labels: frontend, task

#52 fix authentication form
  StudCity.Frontend/.env
  StudCity.Frontend/src/pages/Authenticate/index.jsx
Labels: bug, frontend, task

#49 Forgot and recovery password api
  StudCity.Backend/StudCity.API/Controllers/AuthenticateController.cs
  StudCity.Backend/StudCity.API/Program.cs
  StudCity.Backend/StudCity.Application/Helpers/IBase64Cryptographer.cs
  StudCity.Backend/StudCity.Application/Services/AuthenticateServices.cs
  StudCity.Backend/StudCity.Application/Services/MailService.cs
  StudCity.Backend/StudCity.Core/Interfaces/IAuthenticateService.cs
  StudCity.Backend/StudCity.Core/Interfaces/ICryptographer.cs
  StudCity.Backend/StudCity.Core/Interfaces/IMailService.cs
Labels: backend, task

#59 Not found page done
  StudCity.Frontend/package-lock.json
  StudCity.Frontend/public/index.html
  StudCity.Frontend/src/App.js
  StudCity.Frontend/src/assets/svgs/index.js
  StudCity.Frontend/src/pages/NotFound/index.jsx
Labels: frontend, task

#61 change ui forms
  StudCity.Frontend/src/App.js
  StudCity.Frontend/src/UI/Button.jsx
  StudCity.Frontend/src/UI/GoogleButton.jsx
  StudCity.Frontend/src/UI/fields/PasswordTextField.jsx
  StudCity.Frontend/src/UI/fields/TextField.jsx
  StudCity.Frontend/src/assets/svgs/google_authorized.svg
  StudCity.Frontend/src/assets/svgs/index.js
  StudCity.Frontend/src/pages/Authenticate/index.jsx
  StudCity.Frontend/src/pages/Registration/index.jsx
Labels: bug, frontend, task

#62 53 setup step by step
  StudCity.Frontend/.gitignore
  StudCity.Frontend/package-lock.json
  StudCity.Frontend/package.json
  StudCity.Frontend/src/App.js
  StudCity.Frontend/src/UI/Button.jsx
  StudCity.Frontend/src/UI/DatePicker/CustomHeader.jsx
  StudCity.Frontend/src/UI/DatePicker/index.jsx
  StudCity.Frontend/src/UI/fields/Option.jsx
  StudCity.Frontend/src/UI/fields/PasswordTextField.jsx
  StudCity.Frontend/src/UI/fields/SelectField.jsx
  StudCity.Frontend/src/UI/fields/TextField.jsx
  StudCity.Frontend/src/UI/fields/ValidateTextField.jsx
  StudCity.Frontend/src/app/features/register-complete/registerCompleteSlice.js
  StudCity.Frontend/src/app/store.js
  StudCity.Frontend/src/assets/svgs/index.js
  StudCity.Frontend/src/assets/svgs/personalInfoStep.svg
  StudCity.Frontend/src/components/Container/index.jsx
  StudCity.Frontend/src/components/Stepper/StepDescription.jsx
  StudCity.Frontend/src/components/Stepper/StepItem.jsx
  StudCity.Frontend/src/components/Stepper/Stepper.jsx
  StudCity.Frontend/src/components/Stepper/StepperControll.jsx
  StudCity.Frontend/src/components/Stepper/StepperSidebar.jsx
  StudCity.Frontend/src/components/Stepper/StepperStrip.jsx
  StudCity.Frontend/src/pages/Authenticate/index.jsx
  StudCity.Frontend/src/pages/Registration/index.jsx
  StudCity.Frontend/src/pages/RegistrationComplete/index.jsx
  StudCity.Frontend/src/pages/RegistrationComplete/steps/UserInformation.jsx
  StudCity.Frontend/src/pages/index.jsx
  StudCity.Frontend/src/spinner/Spinner.jsx
  StudCity.Frontend/src/utils/constants.js
  StudCity.Frontend/src/utils/validators/registerCompleteValidators.js
  StudCity.Frontend/src/utils/validators/validators.js
  StudCity.Frontend/tailwind.config.js
Labels: frontend, task

#58 20 create submit email page
  StudCity.Frontend/src/assets/svgs/index.js
  StudCity.Frontend/src/assets/svgs/undraw_subscribe_vspl.svg
  StudCity.Frontend/src/assets/svgs/wavesOpacity.svg
  StudCity.Frontend/src/components/Svg/index.jsx
  StudCity.Frontend/src/pages/NotFound/index.jsx
  StudCity.Frontend/src/pages/index.jsx
  StudCity.Frontend/src/pages/verify-email/index.jsx
  StudCity.Frontend/src/utils/validators/validators.js
  StudCity.Frontend/tailwind.config.js
Labels: frontend, task

#63 Third-step-registration
  StudCity.Frontend/public/images/student.jpg
  StudCity.Frontend/public/images/teacher.jpg
  StudCity.Frontend/public/index.html
  StudCity.Frontend/src/UI/Avatar/index.jsx
  StudCity.Frontend/src/UI/IconButton.jsx
  StudCity.Frontend/src/UI/SliderControll/index.jsx
  StudCity.Frontend/src/UI/fields/UploadImageInput.jsx
  StudCity.Frontend/src/app/features/register-complete/registerCompleteSlice.js
  StudCity.Frontend/src/assets/svgs/crop-tool.svg
  StudCity.Frontend/src/assets/svgs/index.js
  StudCity.Frontend/src/components/ImageCropper/index.jsx
  StudCity.Frontend/src/components/Stepper/StepperControll.jsx
  StudCity.Frontend/src/components/Stepper/StepperStrip.jsx
  StudCity.Frontend/src/pages/RegistrationComplete/index.jsx
  StudCity.Frontend/src/pages/RegistrationComplete/steps/ChooseRole.jsx
  StudCity.Frontend/src/pages/RegistrationComplete/steps/UploadAvatar.jsx
  StudCity.Frontend/src/services/imageService.js
  StudCity.Frontend/src/utils/constants.js
  StudCity.Frontend/src/utils/validators/registerCompleteValidators.js
  StudCity.Frontend/src/utils/validators/validators.js
  StudCity.Frontend/tailwind.config.js
Labels: frontend, task

#65 create simple show alert function
  StudCity.Frontend/package-lock.json
  StudCity.Frontend/package.json
  StudCity.Frontend/src/services/showAlert.js
Labels: frontend, task

#67 56 fourth steps
  StudCity.Frontend/src/app/features/register-complete/registerCompleteSlice.js
  StudCity.Frontend/src/components/Group/GroupCard.jsx
  StudCity.Frontend/src/components/Spinner/index.jsx
  StudCity.Frontend/src/pages/RegistrationComplete/index.jsx
  StudCity.Frontend/src/pages/RegistrationComplete/steps/ChooseGroups.jsx
  StudCity.Frontend/src/services/groupsService.js
  StudCity.Frontend/src/utils/constants.js
Labels: frontend, task

#69 delete 5 step
  StudCity.Frontend/package-lock.json
  StudCity.Frontend/src/components/Stepper/StepperSidebar.jsx
  StudCity.Frontend/src/utils/constants.js
Labels: frontend, task

#71 70 fix deployment bug
  .github/workflows/development_stud-city-api.yml
  StudCity.Backend/StudCity.API/Program.cs
  StudCity.Backend/StudCity.API/StudCity.API.csproj
  StudCity.Backend/StudCity.API/SwaggerSettings/ApplyDocumentExtension.cs
  StudCity.Backend/StudCity.API/appsettings.json
Labels: bug

#72 create template for forgot password
  StudCity.Backend/StudCity.API/Templates/ForgotPassword.html
Labels: backend, task

#75 forgot password
  StudCity.Frontend/src/UI/Button.jsx
  StudCity.Frontend/src/assets/svgs/bgForgotPassword.svg
  StudCity.Frontend/src/assets/svgs/bgRecoveryPassword.svg
  StudCity.Frontend/src/assets/svgs/forgotPassword.svg
  StudCity.Frontend/src/assets/svgs/index.js
  StudCity.Frontend/src/assets/svgs/recoverPassword.svg
  StudCity.Frontend/src/pages/Authenticate/index.jsx
  StudCity.Frontend/src/pages/ForgotPassword/index.jsx
  StudCity.Frontend/src/pages/RecoveryPassword/index.jsx
  StudCity.Frontend/src/pages/index.jsx
Labels: frontend, task

#74 Connect registration & login & register complete with veryfication
  StudCity.Backend/StudCity.API/Controllers/AuthenticateController.cs
  StudCity.Backend/StudCity.API/Mapping/RegistrationCompleteMapperProfile.cs
  StudCity.Backend/StudCity.API/Program.cs
  StudCity.Backend/StudCity.API/ViewModels/RegistrationCompleteViewModel.cs
  StudCity.Backend/StudCity.API/appsettings.json
  StudCity.Backend/StudCity.Application/Services/AuthenticateServices.cs
  StudCity.Backend/StudCity.Application/Services/MailService.cs
  StudCity.Backend/StudCity.Core/ConfigurationModels/AppConfigurationModel.cs
  StudCity.Backend/StudCity.Core/Interfaces/IAuthenticateService.cs
  StudCity.Frontend/package-lock.json
  StudCity.Frontend/src/UI/GoogleButton.jsx
  StudCity.Frontend/src/UI/fields/ValidateTextField.jsx
  StudCity.Frontend/src/app/features/register-complete/registerCompleteSlice.js
  StudCity.Frontend/src/assets/svgs/wavesOpacity.svg
  StudCity.Frontend/src/components/Stepper/StepperControll.jsx
  StudCity.Frontend/src/pages/Authenticate/index.jsx
  StudCity.Frontend/src/pages/Registration/index.jsx
  StudCity.Frontend/src/pages/RegistrationComplete/index.jsx
  StudCity.Frontend/src/pages/Verify-email/index.jsx
  StudCity.Frontend/src/services/authenticateService.js
  StudCity.Frontend/src/services/showAlert.js
  StudCity.Frontend/src/utils/constants.js
  StudCity.Frontend/src/utils/validators/validators.js
Labels: frontend, backend, task

#77 Protected route
  StudCity.Frontend/src/components/ProtectedRoute/index.jsx
  StudCity.Frontend/src/pages/index.jsx
Labels: frontend, task
